*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
footer,
.hero-section {
    background-color: #1f2937;
}

.nav-list,
.hero,
.info {
    max-width: 768px;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
}

.nav-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.nav-link a {
    text-decoration: none;
}

footer,
button,
.nav-link a,
.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-section {
    margin-bottom: auto;
}

.hero {
    display: flex;
    gap: 32px;
    padding: 64px 0;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    max-width: 60%;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.hero-btn {
    background-color: #3882f6;
    border: none;    
    border-radius: 8px;
    padding: 8px 32px;
    margin-top: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 32px 0 64px;
}

.info-text {
    align-self: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-boxes-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-box-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    max-width: 120px;
}

.info-box {
    width: 120px;
    height: 120px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.info-box-text {
    color: #1f2937;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
