*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
footer,
.hero-section {
    background-color: #1f2937;
}

.nav-list,
.hero,
.info,
.call-to-action {
    max-width: 768px;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
}

.nav-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.nav-link a {
    text-decoration: none;
}

footer,
button,
.nav-link a,
.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-section {
    margin-bottom: auto;
}

.hero {
    display: flex;
    gap: 32px;
    padding: 64px 0;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    max-width: 60%;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.hero-btn,
.call-to-action-btn {
    background-color: #3882f6;    
    border-radius: 8px;
    padding: 8px 32px;
}

.hero-btn {
    border: none;
    margin-top: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 32px 0 64px;
}

.info-text {
    align-self: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-boxes-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-box-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    max-width: 120px;
}

.info-box {
    width: 120px;
    height: 120px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.info-box-text {
    color: #1f2937;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 64px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #1f2937;
    max-width: 580px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quote-attribution {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.call-to-action-section {
    padding: 64px 0;
}
.call-to-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 18px;
    padding: 32px;
}

.call-to-action-btn {
    border: 2px solid #f9faf8
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
